//
   Created by snov on 29.06.2016.

doctype html
html(lang="en")
  head
    title!= title
    //link(rel='stylesheet', href='css/index.css')
    script(src='js/index.js')
  body
    div#app
    //div#message!= message