//
   Created by Novi on 27.08.2016.

doctype html
html(lang="en")
  head
    title!= title
    link(rel='stylesheet', href='css/index.css')
    script(src='js/index.unauth.js')
  body
    div#message!= message