//
   Created by Novi on 31.08.2016.

doctype
html(lang="en")
  head
    title!= title
    //link(rel='stylesheet', href='css/index.css')
    script(src='js/index.unauth.js')
  body
    div.content(id='content')